<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include header %>
    <h1><%= title %></h1>

    <% include footer %>
    <script src="vendor/githubEntry.js"></script>
  </body>
</html>
